@import url(utility.css);

:root{
  --max-width: 22.5em;
  --snitap-sun: #FFCD1E;
  --snitap-sky-mid: #06b6d4;
  --snitap-sky-light: #67E8F9;
  --snitap-joy-mid: #DB2777;
  --snitap-joy-light: #F472B6;
  --snitap-leaf-mid: #16A34A;
  
  --text: #000000;
  --hightlight: #000000;
  --background: #FAFAFA;
  
  --ff-syne: 'Syne', sans-serif;
  --ff-mont: 'Montserrat', sans-serif;
  
  --h1: 700 2rem/1.25 var(--ff-syne);
  --h2: 700 1.5rem/1.2 var(--ff-syne);
  --span: 400 0.75rem/1.5 var(--ff-mont);
  --action: 400 1rem/1.5 var(--ff-mont);
  
  --pad-x: 1.5rem;
  --pad-footer: 3rem 1.5rem 1.5rem;
  --gap: 1.5rem;
  
}

*, ::before, ::after{
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
  color: inherit;
}

ul[role="list"]{
  list-style: none;
}

header{
  padding-block: .75rem;
  & img:nth-child(2){
    margin-left: auto;
  }
}

 #hero{

  & h1{
    font: var(--h1);

    & strong{
      color: var(--snitap-sky-light);
    }
  }
}

@media (width >= 80em){
  :root{
    --snitap-sky-light: #DB2777;
    --max-width: 80em;
    --h1: 700 4rem/1.25 var(--ff-syne);
    --span: 400 0.875rem/1.5 var(--ff-mont);
    --strong: 700 4rem/1.25 var(--ff-syne);
    
    --pad-x: 2rem;
    --pading-footer: 4rem 2rem 2rem;
    --gap: 2rem;
  }
}

