.container{
  width: var(--max-width);
  margin-inline: auto;
}

.grid {
  display: grid;
}

.gap-1 {
  gap: 1rem;
}

.gap-1\.25{
  gap: 1.5rem;
}

.gap-\.5{
  gap: .5rem;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center{
  align-items: center;
}

.padding-x{
  padding-inline: var(--pad-x);
}

.btn-primary{
  all: unset;
  background-color: var(--snitap-sun);
  padding: 1.5rem 1rem 1.5rem 5.25rem;
  border-radius: 5rem;
  font: var(--action);
  text-transform: uppercase;
  cursor: pointer;
  filter: drop-shadow( 0rem 1rem 1rem rgba(0, 0, 0, 0.192));
}

.btn-secondary{
  all: unset;
  cursor: pointer;
}
